<div class="sidenav-container">
    <img src="{{logoSrc}}" alt="{{logoAlt}}" />

    <ul>
        <li>
            <a routerLinkActive="active" [routerLink]="'dashboard'">
                <span class="material-symbols-outlined">
                    space_dashboard
                </span>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a routerLinkActive="active" [routerLink]="'customers'">
                <span class="material-symbols-outlined">
                    account_circle
                </span>
                <span>Customers</span>
            </a>
        </li>
        <li>
            <a routerLink="/loans">
                <span class="material-symbols-outlined">
                    payments
                </span>
                <span>Loans</span>
            </a>
        </li>
    </ul>
</div>