header {
    grid-area: header;
}

aside {
    grid-area: sidebar;
}

.main-content {
    grid-area: content;
    position: relative;
    padding: 0 2rem 2rem 2rem;
    height: calc(100% - 5rem);
    z-index: 1;
}

.main-content-container {
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--white-color);
    min-height: 100%;
}

footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 100px 1fr 5rem;
    grid-template-areas:
        "sidebar header header"
        "sidebar content content"
        "sidebar footer footer";
    min-height: 100vh;
    background-color: var(--light-color);
}