.example-container {
    width: 100%;
    height: 100%;
    background-color: #f2f9f9;
}

.example-sidenav {
    background-color: #ffffff;
    box-shadow: 1px 0 20px rgb(0 0 0 / 8%);
    border: none;
}

.example-sidenav-content {
    height: 100%;
}

header {
    background-color: #ffffff;
    display: flex;
    padding: .5rem;
}